body {
    width: 100%;
    height: 100vh;
    background: rgb(18,0,36);
    background: -moz-linear-gradient(90deg, rgba(18,0,36,1) 0%, rgba(37,1,74,1) 44%, rgba(77,1,153,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(18,0,36,1) 0%, rgba(37,1,74,1) 44%, rgba(77,1,153,1) 100%);
    background: linear-gradient(90deg, rgba(18,0,36,1) 0%, rgba(37,1,74,1) 44%, rgba(77,1,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#120024",endColorstr="#4d0199",GradientType=1);  
}

main{
    position: absolute;
    top: 10%;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1.50rem;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}

form.formTodo{
    /* width: 525px; */
    display: flex;
    border: 1px solid #8e42a9;
    box-shadow: 0px 0px 4px 4px #79189c;
}

input.checkbox-done{
    border-radius:  50%;
}

input.description {
    width: 325px;
    font-size: 1.25rem;
}

input.addbtn {
    margin-left: .25em;
    padding: 0em 1em;
    border: 1px solid #8e42a9;
    box-shadow: 0px 0px 3px 3px #79189c;
    background-color: transparent;
    color: white;
}

/* TASK SECTION */
div.task-nav{
    margin: 2rem 0rem;
    color: white;
}


div.task-nav ul.ul-task div.div-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 2px solid #4c0964;
    /* background-color: #552764; */
}

div.task-nav ul.ul-task div.div-task p {
    padding: 0em 2rem;
    margin: 0;
    font-size: 1rem;
}

form.formdescription{
    display: flex;
}

button.btn-description{
    background-color: transparent;
    border: none;
}

button.btn-description p.p-task-unchecked{
    color: white;
}

button.btn-description p.p-task-checked{
    color: rgb(15, 209, 15);
    text-decoration-line: line-through;
}


button.btn-task-edit, button.btn-task-delete{
    width: 70px;
    padding: 0.45em;
    margin: 0em .25em;
    border: none;
    color: white;
    border: 1px solid #8e42a9;
    box-shadow: 0px 0px 2px 2px #79189c;
}

button.btn-task-edit {
    border-radius: 4px;
    background-color: transparent;
}

button.btn-task-delete {
    border-radius: 4px;
    background-color: transparent;
}

button.btn-task-edit:hover, button.btn-task-delete:hover, input.addbtn:hover{
    transition: .2s;
    border: 1px solid #8e42a9;
    box-shadow: 0px 0px 2px 2px #9b34c1;
    color: rgb(243, 0, 215);
}

/* POPUP */
div.modalbg{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.385);
    z-index: 1;
    visibility: hidden;
    
}
div.modaltodo{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #4b2a56;
    border-radius: 12px;
    width: 350px;
    height: 200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
}

div.modaltodo h5.modal-title {
    color: white;
}

div.modaltodo input.tododescription{
    width: 100%;
    font-size: 1.25rem;
    margin: 1.5em 0em;
}

div.modal-footer > *{
    margin: 0em .55em;
    font-size: 1.15rem;
}